:root{
    --dark:#374115;
    --darker:#1F2937;
    --darkest:#111827;
    --light:#EEE;
    --pink:#EC4899;
    --purple:#885Cfc;
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sons' ,sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFF;
}

#new-task-form{
    display: flex;
}
header {
    /* flex: 1 1 0%; */
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#user-input{
    /* flex: 1 1 0%; */
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}
#new-task-submit{
    color: rgb(13, 209, 23);
    font-size: 1.5rem;
    font-weight: 700;
}
main {
     flex: 1 1 0%;
     /* padding: 2rem 1rem; */
     max-width: 800px;
     width: 100%;
     margin: 0 auto;
}

.main-content h3{
    color: var(--darker);
    margin-bottom: 1rem;
}
#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding:1rem;
    
}
.task .content{
    flex: 1 1 0%;
}
 .task .content .text{
    /* background-color: var(--darkest); */
    color: var(--light); 
     display: block;
     font-size: 1.125rem;
     width: 100%;
     transition: 0.4s;
     
}  
.edit{
    color: aqua;
    font-size: 1rem;
    font-weight: 700;
} 
.delete{
    color: red;
    font-size: 1rem;
    font-weight: 700;
}